<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Syllabi Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='/assets/styles.css') }}">
</head>
<body>
 <!-- Navigation Bar -->
     <nav class="navbar">
        <div class="nav-left">
            <img src="../static/assets/logo.svg" alt="Logo" class="logo">
            <span class="brand">SyllaBuddy</span>
        </div>

        <ul class="nav-center">
            <a href="{{ url_for('dashboard') }}"><img src="../static/assets/home.svg" class="icon"> Home</a>
    <a href="{{ url_for('syllabi_page') }}"><img src="../static/assets/syllabi.svg" class="icon"> Syllabi</a>
    <a href="{{ url_for('calendar_page') }}"><img src="../static/assets/calendar.svg" class="icon"> Calendar</a>
    <a href="#"><img src="../static/assets/settings.svg" class="icon"> Settings</a>
        </ul>

        <div class="nav-right">
            <div class="profile-circle"></div>
            <div class="profile-info">
                <span class="profile-name">{{ session.get('username') }}</span>

            </div>
        </div>
    </nav>

<div class="grid-container">

    <a href="{{ url_for('upload_page') }}" class="card-link">
        <div class="card">
            <div class="upload-box">+</div>
            <div class="upload-text">Upload New Syllabus</div>

        </div>
    </a>

    {% for syllabus in syllabi %}
        <a href="{{ url_for('displayAPDF', pdfName=syllabus.name) }}" class="card-link">
            <div class="card">
                <div class="doc-preview">
                   <div class="doc-preview">
                       <img src="{{ url_for('get_thumbnail', pdfName=syllabus.name) }}" alt="Preview of {{ syllabus.name }}" class="preview-image">
                   </div>
                </div>
                <div class="meta">
                    <strong>{{ syllabus.name }}</strong><br>
                    ID: {{ syllabus.id }}
                </div>
            </div>
        </a>
    {% endfor %}

</div>
</html>